@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Merriweather', serif;
}

html.light {
    background-color: theme("colors.lightBgCust");
    color: theme("colors.lightTextCust");
}

html.dark {
    background-color: theme("colors.darkBgCust");
    color: theme("colors.darkTextCust");
}

body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    letter-spacing: 0.6px;
}